In [ ]:
#Q 1: Modify the first item (22) of a list inside a following tuple to 222

tuple1 = (11, [22, 33], 44, 55)
list1=list(tuple1) 
list1[1][0]=222 # changing the list element 22 to 222 
tuple1=tuple(list1)
tuple1

(11, [222, 33], 44, 55)

In [ ]:
#Q 2: Count the number of occurrences of item 50 from a tuple


def check_item(tuple1,n):
  count=0
  for i in tuple1:
    if i==n:
      count=count+1
  return count

tuple1 = (50, 10, 60, 70, 50)
n=50
print("Number of occurrences = ",check_item(tuple1,n))

Number of occurrences =  2

In [ ]:
#Q 3: Write a Python program to convert a list to a tuple

def convertion(lst):
  tpl=tuple(lst) #conversion of list "lst" to tuple "tpl" using tuple()
  return tpl

lst=[]
n=int(input("Enter the number of elements: "))
for i in range(0,n):
  element=input()
  lst.append(element)
res=convertion(lst)
print("Resultant Tuple after conversion",res)

Enter the number of elements: 5
12
23
34
45
56
Resultant Tuple after conversion ('12', '23', '34', '45', '56')

In [6]:
#Q 4:Returns  a new set with all items from both sets by removing duplicates


def set_operation(setA,setB):
  setC=setA.union(setB) # union operation combines two sets after eliminating duplicates
  return setC


setA={'A','B','C',2,4,6}
setB={1,2,3,4,5,6,'a','b'}
res=set_operation(setA,setB)
print(res)

{1, 2, 3, 4, 'B', 6, 5, 'C', 'b', 'a', 'A'}

In [ ]:
#Q5: Merge following two Python dictionaries into one


def merge(dict1,dict2):
  dict3=dict1.copy() # copy all items in the "dict1" dictionary to "dict3" dictionary
  dict3.update(dict2) # dict3 is updated with dict2
  return dict3

dict1 = {'Ten': 10, 'Twenty': 20, 'Thirty': 30}
dict2 = {'Thirty': 30, 'Fourty': 40, 'Fifty': 50}
res=merge(dict1,dict2)
print(res)

{'Ten': 10, 'Twenty': 20, 'Thirty': 30, 'Fourty': 40, 'Fifty': 50}

In [ ]:
#Q6: Given a Python dictionary, Change Bradâ€™s salary to 8500


sampleDict = {
'emp1': {'name': 'Jhon', 'salary': 7500},
'emp2': {'name': 'Emma', 'salary': 8000},
'emp3': {'name': 'Brad', 'salary': 6500}
}

sampleDict['emp3']['salary']=8500 # changing the value of emp3 dictionary iniside another dictionary 
print(sampleDict)

{'emp1': {'name': 'Jhon', 'salary': 7500}, 'emp2': {'name': 'Emma', 'salary': 8000}, 'emp3': {'name': 'Brad', 'salary': 8500}}

In [1]:
#Q7: Rename key city to location in the following dictionary

sampleDict = {
"name": "Kelly",
"age":25,
"salary": 8000,
"city": "New york"
}
sampleDict["location"]=sampleDict.pop("city") # rename the key "city" to "location"
print(sampleDict)

{'name': 'Kelly', 'age': 25, 'salary': 8000, 'location': 'New york'}